# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Envrc
.envrc

# Visual Studio / VS Code project files
.vs/
.vscode/

# Emacs temp files
*~
.#*
\#*

# Vim temp files
*.swp

# Rust files
target/
**/*.rs.bk

# System metadata files
.DS_Store
